<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<nav th:replace="base :: nav"></nav>
<!--- sdjlfj sldjf -->

<h1>Course Details</h1>

<a href="/">Show All Courses</a><br />
Title :<span th:text="${course.title}" ></span><br />
Instructor :<span th:text="${course.instructor}" ></span><br />
Description :<p th:text="${course.description}" ></p>
Credits :<span th:text="${course.credit}" ></span><br />

<a th:href="@{/delete/{id}(id=${course.id})}">Delete this course</a>
<span th:replace="base :: jslinks"></span>
</body>
</html>